@font-face {
  font-family: 'Arial-Bold';
  src: url('../fonts/Arial-Bold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
body {
	background: black;
	color: white;
	min-height: 100vh;
	margin: 0;
	font-family: 'Arial-Bold', sans-serif;
}
img {
  display: block;
  margin: auto;
  width: 10%;
}
h1 {	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	margin: 0;
}